 body {

background-image: url("images/wall.jpg");
   font-family: sans-serif, Helvetica, Monospace;
    background-color: red; 
  margin: 150px; 
 }
  
 h2 {
   color: blue;
 }
 img.picalign{
  float: right;
}
 
ul.Facts {
  color: red;
background-color: black;
font-family: sans-serif;
font-size: 150%;
width: 850px;
}
ol.players {
color: black;
background-color: red;
}



